# compiled output
/dist
/node_modules

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# DB
/postgres

postgres/*

postgres/data/

pgdata/
postgresql/
postgres/

postgres/base/
postgres/pg_xact/
postgres/postmaster.pid
postgres/pg_log/
postgres/pg_stat_tmp/
postgres/pg_wal/
postgres/pg_replslot/
postgres/pg_tblspc/
postgres/pg_commit_ts/
postgres/pg_dynshmem/
postgres/pg_notify/
postgres/pg_serial/
postgres/pg_snapshots/
postgres/pg_subtrans/
postgres/pg_twophase/
postgres/postgresql.conf
postgres/pg_hba.conf
postgres/pg_ident.conf